Flask==3.0.0
pymongo==4.6.1
flask-jwt-extended==4.5.3
beautifulsoup4==4.12.2
requests==2.31.0
flask-swagger-ui==4.11.1
python-dotenv==1.0.0
selenium==4.16.0  # 크롤링용 Selenium
flasgger==0.9.7.1  # Swagger 문서화 추가 기능
pydantic==2.5.2  # 데이터 검증